stages:
  - validate
  - publish
  - release

variables:
  TEMPLATE_BUCKET: ${aws.s3.outputs.bucket_name}
  TEMPLATE_PATH: cfn-templates/s3-bucket.yaml

validate:
  stage: validate
  image: amazon/aws-cli:latest
  script:
    - aws cloudformation validate-template --template-body file://${TEMPLATE_PATH}

lint:
  stage: validate
  image: python:3.11-slim
  before_script:
    - pip install cfn-lint --quiet
  script:
    - cfn-lint ${TEMPLATE_PATH}

publish:
  stage: publish
  image: amazon/aws-cli:latest
  script:
    - aws s3 cp ${TEMPLATE_PATH} s3://${TEMPLATE_BUCKET}/templates/
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Creating release ${CI_COMMIT_TAG}"
  release:
    tag_name: $CI_COMMIT_TAG
    description: "CloudFormation template release"
  rules:
    - if: $CI_COMMIT_TAG
